<%-include("./partials/header")-%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Signup</title>
  </head>
  <body>
    <form method="POST" action="/signup">
      <p>Enter your name</p>
      <br />
      <input type="text" name="fullName" placeholder="enter your fullname" />
      <br />
      <p>Enter your email</p>
      <br />
      <input type="text" name="email" placeholder="enter your email" />
      <p>Enter your password</p>
      <br />
      <input type="text" name="password" placeholder="enter your password" />
      <button type="submit">Sign Up</button>
  </form>
  </body>
</html>
